@font-face {
	font-family: "Inter";
	src: url("Inter-Black.ttf");
	src: local("Inter Black"), local("Inter-Black"),
		url("Inter-Black.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Black.ttf") format("ttf"),
		url("Inter-Black.ttf") format("ttf"),
		url("Inter-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Extrabld.ttf");
	src: local("Inter Extrabold"), local("Inter-Extrabld"),
		url("Inter-Extrabld.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Extrabld.ttf") format("ttf"),
		url("Inter-Extrabld.ttf") format("ttf"),
		url("Inter-Extrabld.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Bold.ttf");
	src: local("Inter Bold"), local("Inter-Bold"),
		url("Inter-Bold.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Bold.ttf") format("ttf"),
		url("Inter-Bold.ttf") format("ttf"),
		url("Inter-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Semibold.ttf");
	src: local("Inter Semibold"), local("Inter-Semibold"),
		url("Inter-Semibold.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Semibold.ttf") format("ttf"),
		url("Inter-Semibold.ttf") format("ttf"),
		url("Inter-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Regular.ttf");
	src: local("Inter Regular"), local("Inter-Regular"),
		url("Inter-Regular.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Regular.ttf") format("ttf"),
		url("Inter-Regular.ttf") format("ttf"),
		url("Inter-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Light.ttf");
	src: local("Inter Light"), local("Inter-Light"),
		url("Inter-Light.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Light.ttf") format("ttf"),
		url("Inter-Light.ttf") format("ttf"),
		url("Inter-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Inter";
	src: url("Inter-Thin.ttf");
	src: local("Inter Thin"), local("Inter-Thin"),
		url("Inter-Thin.ttf?#iefix") format("embedded-opentype"),
		url("Inter-Thin.ttf") format("ttf"),
		url("Inter-Thin.ttf") format("ttf"),
		url("Inter-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}
