.button,
.search-field,
.v-sheet.v-card {
  border-radius: 0.5rem !important;
}
.v-btn {
  text-transform: none !important;
}
.nav__two {
  border: 1px solid #eaecf0 !important;
  background: white !important;
}
.search-field {
  color: #667085 !important;
}
.active {
  background: #f9fafb !important;
}
.constraint {
  max-width: 1280px;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 960px) {
    max-width: 900px;
  }
  @media (min-width: 1904px) {
    max-width: 1785px;
  }
  @media (min-width: 1264px) {
    max-width: 1185px;
  }
}
